#counter-container {
  height: calc(100vh - 200px);
  background-color: #197cdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#counter-container h1 {
  margin: 0;
}

#counter {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

#counter span {
  font-size: 32px;
}

#button-container {
  display: flex;
  gap: 20px;
}
